Bank_Bronze_Ingest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": "SELECT\n    s.name AS SchemaName,\n    t.name AS TableName\nFROM sys.tables t\nJOIN sys.schemas s\n    ON t.schema_id = s.schema_id\nWHERE t.is_ms_shipped = 0\nORDER BY s.name, t.name;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "accounts",
              "database": "Banking"
            },
            "schema": [],
            "externalReferences": {
              "connection": "d4902534-6a3e-4fc3-a564-d824ffc93127"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Lookup1').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@concat('SELECT * FROM [', item().SchemaName, '].[', item().TableName, ']')",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "schema": "dbo",
                      "table": "accounts",
                      "database": "Banking"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "d4902534-6a3e-4fc3-a564-d824ffc93127"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "applyVOrder": true,
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@concat(item().SchemaName, '.', item().TableName)",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "Bank_Bronze_Lakehousee",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "27d20208-5c66-9824-4cf8-5f43ea9c98c3",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "externalReferences": {
                          "connection": "602ce758-5c53-4a93-a8fa-25af47049033"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SQL Data Copy",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}